{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.stories.js"] }
    ],
    "react/jsx-props-no-spreading": [
      0,
      { "custom": "ignore" }
    ]
  }
}
